.about {
    background: #13131a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.about .title h1::after {
    position: absolute;
    content:"ABOUT";
    color: rgba(255, 255, 255, 0.03);
    font-size: 5.5vw;
    font-family: Agdasima;
    font-weight: bold;
    bottom: -10;
}

.about .title h1 {
    justify-content: center;
}

.about-div {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 85vw;
}
.picture {
    display: flex;
    flex-direction: column;
}
.link-container {
    display: flex;
    flex-direction: column;
    margin-top: 1.6vw;
    margin-bottom: 1vw;
}
.link,.link2 {
    display: flex;
    font-size: 2.5vw;
    color: rgb(166, 166, 166);
    font-family: Agdasima;
    padding-left: 2vw;
}
.link2 {
    margin-top: 0.4vw;
}
.icon {
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
}


@keyframes fadeInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transformX: translateX(0);
        opacity: 1;
    }
}

.portrait-div {
    display: flex;
    margin-left: 2vw;
}

.portrait {
    margin-top: 1.5vw;
    contain: content;
    width: 12vw;
    height: 12vw;
    border-radius: 150px;
    border: 3px solid rgba(166, 166, 166, 0.5);
}


.about-info {
    display: flex;
    flex-direction: column;
}


.h2-container {
    color: rgb(166, 166, 166);
    padding-left: 1vw;
    padding-right: 1vw;
    line-height: 2.6vw;
    margin-left: 2vw;
    text-align: justify;
}

.about h2 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 1.25vw;
}

@media screen and (max-width: 767px) {
    .about-div {
        flex-direction: column;
        text-align: none;
    }
    .picture {
        flex-direction: row;
        margin-bottom: 5vw;
    }
    .portrait {
        width: 30vw;
        height: 30vw;
        margin-right: 2vw;  
        border: none;
    }
    .about h2 {
        font-size: 3vw;
        line-height: 5vw;
    }
    .link,.link2 {
        margin-top: 1vw;
        font-size: 6vw;
        margin-bottom: 1vw;
    }
    .icon {
        width: 8vw;
        height: 8vw;
    }
}