body {
    background-color: black;
    font-family: Agdasima;
    margin: 0;
    padding: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* by default, everything in main will appear in the center*/
}

img {
    width: 100%;
    height: 100%;
}

.title {
    display: flex;
    width: 85vw;
}

.about,.project,.extracurriculars {
    padding-top: 1vw;
    padding-bottom: 2vw;
}

.project,.extracurriculars,.skills {
    background: black;
}


.title h1{ /* affects all titles*/
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: Agdasima;
    position: relative;
    font-size: 4vw;
    color: white;
    font-weight: bold;
    margin-left: 1vw;
}


::-webkit-scrollbar { /* controls the entire scrollbar */
    width: 1em;
    margin-right: 10px;
}

::-webkit-scrollbar-track { /* the background of the scrollbar*/
    background: transparent;
}

::-webkit-scrollbar-thumb { /* the moving thingy */
    background: rgba(34, 255, 255, 0.6);
    border-radius: 100px;
}