.home {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 1)), url(background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    min-height: 100vh; /* use this to make it fill up entire screen across different*/
    margin-bottom: 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
}

@keyframes fadeAnimation {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.home h1{
    animation-delay: 0.2s;
    opacity: 0;
    animation-name: fadeAnimation;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    color: white;
    font-weight: 800;
    margin-top: 12.5vw;
    font-size: 7vw;
    margin-bottom: 0.5vw;
    letter-spacing: 0.5vw;
}

.home h2 {
    animation-delay: 0.2s;
    font-size: 1.8vw;     
    text-align: center;
    line-height: 2.5vw;
    color: rgb(166, 166, 166);
}

.about-me {
    width: 100%;

    flex-direction: column;
    animation-delay: 0.2s;
    opacity: 0; /* set it invisible initially*/
    animation: fadeAnimation;
    animation-fill-mode: forwards; /* makes it stay (like QAnimation.finished in PySide) */
    animation-duration: 1s; /* wait between the h1 and h2*/
    animation-timing-function: ease;
}

.lets-go {
    animation-delay: 0.2s;
    opacity: 0;
    animation: fadeAnimation;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.home .divider {
    color: #00ffff;
    margin-left: 1vw;
    margin-right: 1vw;
}

@media screen and (max-width: 767px) {
    .home { /* take away the min-height */
        display: flex;
        background-size: 300%;
        align-items: center;
        justify-content: center;
    }
    .home h1{
        font-size: 18vw;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        font-weight: 300;
    }
    .home h2{
        font-size: 7vw;
        line-height: 7vw;
        align-items: center;
        justify-content: center;
    }
    .home .role {
        display: block;
        margin: 3vw;
        padding: 0;
        font-weight: 300;
        text-decoration: underline;
        text-underline-offset: 1vw;
        text-decoration-thickness: 0.1px;
    }
    .home .divider { /* no dividers - funky flow */
        display: none;
    }
    .about-sub {
        display: flex;
        width: 85vw;
        justify-content: center;
        align-items: center;
    }
    .lets-go{
        font-weight: 300;
    }
}