.home {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 1)), url(background.jpg);
    background-position: center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    min-height: 100vh; /* use this to make it fill up entire screen across different*/
    margin-bottom: 0px;
    background-attachment: fixed;
}

@keyframes fadeAnimation {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



.home h1{
    animation-delay: 1s;
    opacity: 0;
    animation-name: fadeAnimation;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    color: white;
    font-weight: 800;
    margin-top: 200px;
    font-size: 7vw;
    margin-bottom: 0.5vw;
    letter-spacing: 0.5vw;
}

.home h2 {
    animation-delay: 1s;
    font-size: 1.8vw;     
    width: 50vw;
    text-align: center;
    line-height: 2.5vw;
    color: rgb(166, 166, 166);
}

.about-me {
    animation-delay: 1s;
    opacity: 0; /* set it invisible initially*/
    animation: fadeAnimation;
    animation-fill-mode: forwards; /* makes it stay (like QAnimation.finished in PySide) */
    animation-duration: 1s; /* wait between the h1 and h2*/
    animation-timing-function: ease;
}

.lets-go {
    animation-delay: 1s;
    opacity: 0;
    animation: fadeAnimation;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.home span {
    color: #00ffff;
}