.project {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(17, 17, 17);
    padding-bottom: 10vw;
}

.project .title h1{
    padding-top: 0;
    margin-top: 2vw;
    position: relative;
    margin-bottom: 3vw;
}

.project .title h1::after {
    position: absolute;
    content:"PROJECTS";
    color: rgba(255, 255, 255, 0.065);
    font-size: 6vw;
    font-family: Agdasima;
    font-weight: bold;
    bottom: -10;
}

span {
    color: #22ffff;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 90vw;
}

.laptop-thumbnail {
    width: 105%;
    height: 105%;
    margin: 0;
 
}
.laptop {
    position: relative;
    display: flex;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease all;
    cursor: pointer;
}
.laptop:hover {
    scale: 1.1;
}

.title-container {
    margin-top: 3vw;
    display: flex;
    color: white;
    font-size: 3vw;
    width: 90vw;
    justify-content: space-around;
    text-decoration: underline;
    text-underline-offset: 1vw;
    text-decoration-thickness: 0.1vw;
    text-decoration-color: #22ffff;
}
.Fitness2-title,.Airplanes-title,.Wildfire-title {
    position: relative;
}
.Fitness2-title::after {
    text-align: center;
    position: absolute;
    content: 'Summer 2023';
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: -4vw;
}
.Airplanes-title::after {
    text-align: center;
    position: absolute;
    content: 'Spring 2023';
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: -4vw;
}
.Wildfire-title::after {
    text-align: center;
    position: absolute;
    content: 'Spring 2023';
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: -4vw;
}

.popup { /* dark background when a popup comes up */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    min-width: 100%;
    z-index: 3; /* above everything else in the section */
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}
.popup-display { /* the popup itself */
    display: flex;
    flex-direction: column;
    background: rgb(27, 27, 27);
    border-radius: 20px;
    width: 35vw;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-bottom: 1rem;
    color: white;
    align-items: start;
    text-align: left;
    font-family: Montserrat;
    margin-top: 4rem;
    opacity: 0;

}
.popup-display h2 {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 1vw;
    padding-left: 1rem;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-thickness: 0.4px;
    text-decoration-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0;
}
.popup-desc {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 1vw;
    padding-left: 1.5rem;
    padding-right: 1rem;
    line-height: 1.7vw;
}
.popup-thumbnail {
    width: 35vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.popup.openPopup {
    visibility: visible;
}
.popup-display.openPopup {
    animation: slideIn 0.4s forwards;
    visibility: visible;
}
.popup-display.closePopup {
    animation: slideOut 0.4s forwards;
}
.popup-attribute {
    color: rgba(255, 255, 255, 0.1);
    font-size: 1vw;
    font-family: Montserrat;
    font-weight: 300;
}

@keyframes slideIn {
    from {
        transform: translateY(-40rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(-40rem);
    }
}

